@page "/"
@using JoinedTogetherGmtk2021.Game


<h1>
    Recursive Cartography
</h1>
<p style="font-style: italic;">
    A brief introduction
</p>

<style>
	button {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        text-align: left;
        padding-left: 100px;
    }
	button h6 {
        font-style: italic;
    }
	button .badge {
        width: 200px;
    }
	button.btn {
        text-align: left;
        padding-left: 60px;
    }
	.number {
        position: absolute;
        font-size: 60px;
        overflow: hidden;
        height: 100%;
        margin-top: -8px;
        font-family: times;
        text-align: center;
        left: 10px;
        width: 100px;
        color: white;
    }
</style>

<button @onclick="@(() => Navigate(1))" class="btn btn-light btn-lg">
    <h1 class="number">1</h1>
    <h5>Chapter One</h5>
    <h6>A bridge, not too far</h6>
</button>
<button @onclick="@(() => Navigate(2))" class="btn btn-light  btn-lg">
    <h1 class="number">2</h1>
    <h5>Chapter Two</h5>
    <h6>
        I know a shortcut.
    </h6>
</button>

<button @onclick="@(() => Navigate(3))" class="btn btn-light  btn-lg">
    <h1 class="number">3</h1>
    <h5>Chapter Three</h5>
    <h6>
        With apologies to one's sanity
    </h6>
</button>

<button @onclick="@(() => Navigate(4))" class="btn btn-light  btn-lg">
    <h1 class="number">4</h1>
    <h5>Chapter Four</h5>
    <span class="badge badge-warning" style="float: right;">A moderate challenge</span>
    <h6>
        Ohana means nobody gets left behind
    </h6>
</button>

<button @onclick="@(() => Navigate("interlude"))" class="btn btn-light  btn-lg">
    <h5>Interlude</h5>
</button>

<button @onclick="@(() => Navigate(5))" class="btn btn-light btn-lg">
    <h1 class="number">5</h1>
    <h5>Chapter Five</h5>
    <span class="badge badge-warning" style="float: right;">A moderate challenge</span>
    <h6>
        A bridge, slightly too far
    </h6>
</button>

<button @onclick="@(() => Navigate(6))" class="btn btn-light btn-lg">
    <h1 class="number">6</h1>
    <h5>Chapter Six</h5>
    <span class="badge badge-danger" style="float: right;">A substantial challenge</span>
    <h6>
        A bridge, unquestionably too far
    </h6>
</button>

<button @onclick="@(() => Navigate(7))" class="btn btn-light  btn-lg">
    <h1 class="number">7</h1>
    <h5>Chapter Seven</h5>
    <span class="badge badge-danger" style="float: right;">Technically, it's possible</span>
    <h6>
        The Great Escape
    </h6>
</button>
<button @onclick="@(()=>Navigate("ThankYou"))" class="btn btn-light btn-lg">Thank You & Attributions</button>






@inject NavigationManager NavigationManager
@code
{
    private bool _showThankYou { get; set; }


    protected override void OnParametersSet()
    {
        base.OnParametersSet();
       
    }

    private void Navigate(int num)
    {
        NavigationManager.NavigateTo(num.ToString());
    }

    private void Navigate(string name)
    {
        NavigationManager.NavigateTo(name);
    }

    private void ShowThankYou()
    {
        _showThankYou = true;
        this.StateHasChanged();
    }
}


