@page "/"
@using JoinedTogetherGmtk2021.Game


<h1>
    Recusive Cartography
</h1>
<p style="font-style: italic;">
    A brief introduction
</p>

<style>
	button {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        text-align: left;
    }
	button h6 {
        font-style: italic;
    }
</style>

<button @onclick="@(()=>Navigate(1))" class="btn-primary btn-lg">
    <h5>Level One</h5>
    <h6>A bridge, not too far</h6>
</button>
<button @onclick="@(() => Navigate(2))" class="btn-primary  btn-lg">
    <h5>Level Two</h5>
    <h6>
        I know a shortcut.
    </h6>
</button>

<button @onclick="@(() => Navigate(3))" class="btn-primary  btn-lg">
    <h5>Level Three</h5>
    <h6>
        With apologies to one's sanity
    </h6>
</button>

<button @onclick="@(() => Navigate(4))" class="btn-primary  btn-lg">
    <h5>Level Four</h5>
    <h6>
        Ohana means nobody gets left behind
    </h6>
</button>

<button @onclick="@(() => Navigate("interlude"))" class="btn-secondary  btn-lg">
    <h5>Interlude</h5>
</button>

<button @onclick="@(() => Navigate(5))" class="btn-primary  btn-lg">
    <h5>Level Five</h5>
    <h6>
        A bridge, slightly too far
    </h6>
</button>

<button @onclick="@(()=>Navigate(6))" class="btn-primary  btn-lg">
    <h5>Level Six</h5>
    <h6>
        A bridge, unquestionably too far
    </h6>	
</button>

<button @onclick="@(()=>Navigate(7))" class="btn-primary  btn-lg">
    <h5>Level Seven</h5>
    <h6>
        The Great Escape
    </h6>	
</button>
<button @onclick="@(()=>Navigate("ThankYou"))" class="btn-secondary btn-lg">Thank You & Attributions</button>






@inject NavigationManager NavigationManager
@code
{
    private bool _showThankYou { get; set; }


    protected override void OnParametersSet()
    {
        base.OnParametersSet();
       
    }

    private void Navigate(int num)
    {
        NavigationManager.NavigateTo(num.ToString());
    }

    private void Navigate(string name)
    {
        NavigationManager.NavigateTo(name);
    }

    private void ShowThankYou()
    {
        _showThankYou = true;
        this.StateHasChanged();
    }
}


